In [2]:
import pandas as pd
import seaborn as sns
import plotly_express as px

# Importing dataset from excel file

In [3]:
df_veckodata_riket = pd.read_excel("./Data/Folkhalsomyndigheten_Covid19.xlsx", sheet_name="Veckodata Riket")

In [4]:
df_veckodata_riket

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.000000
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.000000
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.000000
3,2020,9,13,0,0,14,0,0,0,0,0.0,0,0.000000
4,2020,10,211,2,2,225,2,3,3,0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2022,38,4669,45,93,2585507,24910,22,9475,88,8.5,20303,1956.099976
138,2022,39,13532,130,175,2599039,25041,15,9490,92,8.9,20395,1965.000000
139,2022,40,3999,39,169,2603038,25079,19,9509,88,8.5,20483,1973.400024
140,2022,41,3408,33,72,2606446,25112,13,9522,73,7.0,20556,1980.500000
141,2022,42,3279,32,65,2609725,25144,17,9539,25,2.4,20581,1982.900024

### Task A
A quick look trough the data.

In [7]:
df_veckodata_riket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   år                              142 non-null    int64
 1   veckonummer                     142 non-null    int64
 2   Antal_fall_vecka                142 non-null    int64
 3   Antal_fall_100000inv_vecka      142 non-null    int64
 4   Antal_fall_100000inv_14dagar    142 non-null    int64
 5   Kum_antal_fall                  142 non-null    int64
 6   Kum_fall_100000inv              142 non-null    int64
 7   Antal_nyaintensivvårdade_vecka  142 non-null    int64
 8   Kum_antal_intensivvårdade       142 non-null    int64
 9   Antal_avlidna_vecka             142 non-null    int64
 10  Antal_avlidna_milj_inv_vecka    142 non-null    float64
 11  Kum_antal_avlidna               142 non-null    int64
 12  Kum_antal_avlidna_milj_inv      142 non-null    float64
dtypes: float64(2), int64(11)
memory usage: 14.6 KB

In [8]:
df_veckodata_riket.describe()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
count,142.000000,142.000000,142.000000,142.000000,142.000000,1.420000e+02,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,2020.957746,26.035211,18378.345070,177.197183,354.169014,1.125288e+06,10843.281690,67.176056,6000.464789,144.936620,14.000000,12321.154930,1187.840841
std,0.797809,14.228835,38569.455753,371.689114,725.677174,9.618084e+05,9265.100705,73.435000,3076.853993,173.659331,16.796551,6103.235009,587.255605
min,2020.000000,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,14.000000,3075.000000,30.000000,59.750000,1.014860e+05,982.500000,14.000000,2643.750000,25.250000,2.425000,5880.000000,569.375000
50%,2021.000000,26.000000,5531.000000,53.000000,107.500000,1.085848e+06,10461.500000,27.500000,7559.500000,77.500000,7.450000,14610.500000,1407.650024
75%,2022.000000,37.750000,21125.000000,203.500000,421.250000,2.423603e+06,23350.500000,109.000000,8863.250000,185.500000,17.950000,17177.750000,1654.999969
max,2022.000000,53.000000,265043.000000,2554.000000,5024.000000,2.609725e+06,25144.000000,289.000000,9539.000000,664.000000,64.300003,20581.000000,1982.900024

In [10]:
df_veckodata_riket.columns

Index(['år', 'veckonummer', 'Antal_fall_vecka', 'Antal_fall_100000inv_vecka',
       'Antal_fall_100000inv_14dagar', 'Kum_antal_fall', 'Kum_fall_100000inv',
       'Antal_nyaintensivvårdade_vecka', 'Kum_antal_intensivvårdade',
       'Antal_avlidna_vecka', 'Antal_avlidna_milj_inv_vecka',
       'Kum_antal_avlidna', 'Kum_antal_avlidna_milj_inv'],
      dtype='object')

In [11]:
df_veckodata_riket.index

RangeIndex(start=0, stop=142, step=1)

In [17]:
df_veckodata_riket.value_counts(sort=False)

år    veckonummer  Antal_fall_vecka  Antal_fall_100000inv_vecka  Antal_fall_100000inv_14dagar  Kum_antal_fall  Kum_fall_100000inv  Antal_nyaintensivvårdade_vecka  Kum_antal_intensivvårdade  Antal_avlidna_vecka  Antal_avlidna_milj_inv_vecka  Kum_antal_avlidna  Kum_antal_avlidna_milj_inv
2020  6            1                 0                           0                             1               0                   0                               0                          0                    0.0                           0                  0.000000                      1
      7            0                 0                           0                             1               0                   0                               0                          0                    0.0                           0                  0.000000                      1
      8            0                 0                           0                             1               0                   0                               0                          0                    0.0                           0                  0.000000                      1
      9            13                0                           0                             14              0                   0                               0                          0                    0.0                           0                  0.000000                      1
      10           211               2                           2                             225             2                   3                               3                          0                    0.0                           0                  0.000000                      1
                                                                                                                                                                                                                                                                                                 ..
2022  38           4669              45                          93                            2585507         24910               22                              9475                       88                   8.5                           20303              1956.099976                   1
      39           13532             130                         175                           2599039         25041               15                              9490                       92                   8.9                           20395              1965.000000                   1
      40           3999              39                          169                           2603038         25079               19                              9509                       88                   8.5                           20483              1973.400024                   1
      41           3408              33                          72                            2606446         25112               13                              9522                       73                   7.0                           20556              1980.500000                   1
      42           3279              32                          65                            2609725         25144               17                              9539                       25                   2.4                           20581              1982.900024                   1
Name: count, Length: 142, dtype: int64

In [18]:
df_veckodata_riket.value_counts().sum()

142

In [19]:
df_veckodata_riket.head(5)

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.0
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.0
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.0
3,2020,9,13,0,0,14,0,0,0,0,0.0,0,0.0
4,2020,10,211,2,2,225,2,3,3,0,0.0,0,0.0