In [1]:
import pandas as pd
import seaborn as sns
import plotly_express as px

# Importing dataset from excel file

In [12]:
df_veckodata_riket = pd.read_excel("../Lab 1/Data/Folkhalsomyndigheten_Covid19.xlsx", sheet_name="Veckodata Riket")

In [13]:
df_veckodata_riket

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.000000
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.000000
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.000000
3,2020,9,13,0,0,14,0,0,0,0,0.0,0,0.000000
4,2020,10,211,2,2,225,2,3,3,0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2022,38,4669,45,93,2585507,24910,22,9475,88,8.5,20303,1956.099976
138,2022,39,13532,130,175,2599039,25041,15,9490,92,8.9,20395,1965.000000
139,2022,40,3999,39,169,2603038,25079,19,9509,88,8.5,20483,1973.400024
140,2022,41,3408,33,72,2606446,25112,13,9522,73,7.0,20556,1980.500000
141,2022,42,3279,32,65,2609725,25144,17,9539,25,2.4,20581,1982.900024

### Task A

In [18]:
df_veckodata_riket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   år                              142 non-null    int64
 1   veckonummer                     142 non-null    int64
 2   Antal_fall_vecka                142 non-null    int64
 3   Antal_fall_100000inv_vecka      142 non-null    int64
 4   Antal_fall_100000inv_14dagar    142 non-null    int64
 5   Kum_antal_fall                  142 non-null    int64
 6   Kum_fall_100000inv              142 non-null    int64
 7   Antal_nyaintensivvårdade_vecka  142 non-null    int64
 8   Kum_antal_intensivvårdade       142 non-null    int64
 9   Antal_avlidna_vecka             142 non-null    int64
 10  Antal_avlidna_milj_inv_vecka    142 non-null    float64
 11  Kum_antal_avlidna               142 non-null    int64
 12  Kum_antal_avlidna_milj_inv      142 non-null    float64
dtypes: float64(2), int64(11)
memory usage: 14.6 KB

### Task B