### Pandas
pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

In [7]:
import pandas as pd

### Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [8]:
fruits = pd.Series(["apple", "pear", "orange", "melon", "kiwi"])
fruits

0     apple
1      pear
2    orange
3     melon
4      kiwi
dtype: object

In [12]:
fruits.apply(str.upper)

0     APPLE
1      PEAR
2    ORANGE
3     MELON
4      KIWI
dtype: object

In [13]:
fruits[0]

'apple'

In [14]:
fruits[:2]

0    apple
1     pear
dtype: object

In [15]:
fruits = pd.Series(["apple", "pear", "orange", "melon", "kiwi"], index = [5, 6, 7, 8, 9])

In [16]:
fruits[0]

KeyError: 0

In [17]:
fruits[7]

'orange'

In [19]:
fruits[[True, True, False, False, True]]

5    apple
6     pear
9     kiwi
dtype: object

In [10]:
numbers = pd.Series([5, 6, 3])
numbers * 2

0    10
1    12
2     6
dtype: int64

In [20]:
numbers >= 5

0     True
1     True
2    False
dtype: bool

In [21]:
numbers[numbers >= 5]

0    5
1    6
dtype: int64

### DataFrame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [22]:
data = {
    "Name": ["Anders", "Thomas", "Mario"],
    "Age": [42, 46, 36]
}

df = pd.DataFrame(data)
df

     Name  Age
0  Anders   42
1  Thomas   46
2   Mario   36

In [23]:
data = [
    {"Name": "Anders", "Age": 42},
    {"Name": "Thomas", "Age": 46},
    {"Name": "Mario", "Age": 36}
]
df = pd.DataFrame(data)
df

     Name  Age
0  Anders   42
1  Thomas   46
2   Mario   36

In [24]:
df

     Name  Age
0  Anders   42
1  Thomas   46
2   Mario   36

In [25]:
df["Name"]

0    Anders
1    Thomas
2     Mario
Name: Name, dtype: object

In [26]:
df["Age"]

0    42
1    46
2    36
Name: Age, dtype: int64

In [27]:
df["Age"] + 1

0    43
1    47
2    37
Name: Age, dtype: int64

In [28]:
df

     Name  Age
0  Anders   42
1  Thomas   46
2   Mario   36

In [29]:
df["Age"] = df["Age"] + 1

In [30]:
df

     Name  Age
0  Anders   43
1  Thomas   47
2   Mario   37

In [33]:
df["Age"] >= 40

0     True
1     True
2    False
Name: Age, dtype: bool

In [34]:
df[df["Age"] >= 40]

     Name  Age
0  Anders   43
1  Thomas   47

In [35]:
str(df)

'     Name  Age\n0  Anders   43\n1  Thomas   47\n2   Mario   37'

In [36]:
print(df)

     Name  Age
0  Anders   43
1  Thomas   47
2   Mario   37