### Update cells using loc or iloc
One or multiple cells can be set to a new value using lov or iloc.
- **df.iloc[:] = 0** sets *all* cells to 0
- **df.iloc[0:0] = 0** sets  cell 0,0 to 0

In [1]:
import pandas as pd

In [2]:
column_values = [f"Column{i}" for i in range(1, 5)]
index_values = [chr(i) for i in range(65, 72)]

df = pd.DataFrame([[f"{ind}{col}" for col in range(1,5)] for ind in index_values],
                  index=index_values, columns=column_values)

In [3]:
copy = df.copy()

In [5]:
copy

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [6]:
copy.iloc[1,2]

'B3'

In [7]:
copy.iloc[1,2] = "XX"

In [8]:
copy

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      XX      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [9]:
copy.iloc[0,:] = "YY"

In [10]:
copy

  Column1 Column2 Column3 Column4
A      YY      YY      YY      YY
B      B1      B2      XX      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [13]:
copy.loc[["C", "E", "G"], ["Column2", "Column4"]] = "ZZ"

In [14]:
copy

  Column1 Column2 Column3 Column4
A      YY      YY      YY      YY
B      B1      B2      XX      B4
C      C1      ZZ      C3      ZZ
D      D1      D2      D3      D4
E      E1      ZZ      E3      ZZ
F      F1      F2      F3      F4
G      G1      ZZ      G3      ZZ

In [15]:
copy.iloc[:2, :2] = copy.iloc[-2:,-2:]

In [16]:
copy

  Column1 Column2 Column3 Column4
A      F3      F4      YY      YY
B      G3      ZZ      XX      B4
C      C1      ZZ      C3      ZZ
D      D1      D2      D3      D4
E      E1      ZZ      E3      ZZ
F      F1      F2      F3      F4
G      G1      ZZ      G3      ZZ

In [17]:
copy.iloc[:2, :2] = copy.iloc[-2:,-2:] + "XX"

In [18]:
copy

  Column1 Column2 Column3 Column4
A    F3XX    F4XX      YY      YY
B    G3XX    ZZXX      XX      B4
C      C1      ZZ      C3      ZZ
D      D1      D2      D3      D4
E      E1      ZZ      E3      ZZ
F      F1      F2      F3      F4
G      G1      ZZ      G3      ZZ

In [19]:
copy.iloc[:, :] = 0

In [20]:
copy

  Column1 Column2 Column3 Column4
A       0       0       0       0
B       0       0       0       0
C       0       0       0       0
D       0       0       0       0
E       0       0       0       0
F       0       0       0       0
G       0       0       0       0

### Adding rows or columns
Rows and columns can be added using loc (but not iloc)

In [21]:
copy = df.copy()

In [22]:
copy

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [23]:
copy.loc["H", :] = ["H1", "H2", "H3", "H4"]

In [24]:
copy

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4
H      H1      H2      H3      H4

In [25]:
copy.loc[:,"Column5"] = 0

In [26]:
copy

  Column1 Column2 Column3 Column4  Column5
A      A1      A2      A3      A4        0
B      B1      B2      B3      B4        0
C      C1      C2      C3      C4        0
D      D1      D2      D3      D4        0
E      E1      E2      E3      E4        0
F      F1      F2      F3      F4        0
G      G1      G2      G3      G4        0
H      H1      H2      H3      H4        0

In [27]:
copy.loc[:, "Column6"] = copy.loc[:, "Column1"]

In [28]:
copy

  Column1 Column2 Column3 Column4  Column5 Column6
A      A1      A2      A3      A4        0      A1
B      B1      B2      B3      B4        0      B1
C      C1      C2      C3      C4        0      C1
D      D1      D2      D3      D4        0      D1
E      E1      E2      E3      E4        0      E1
F      F1      F2      F3      F4        0      F1
G      G1      G2      G3      G4        0      G1
H      H1      H2      H3      H4        0      H1

In [29]:
copy.loc[:, "Column6"] = copy.loc[:, "Column1"] + "-" + copy.loc[:, "Column4"]

In [30]:
copy

  Column1 Column2 Column3 Column4  Column5 Column6
A      A1      A2      A3      A4        0   A1-A4
B      B1      B2      B3      B4        0   B1-B4
C      C1      C2      C3      C4        0   C1-C4
D      D1      D2      D3      D4        0   D1-D4
E      E1      E2      E3      E4        0   E1-E4
F      F1      F2      F3      F4        0   F1-F4
G      G1      G2      G3      G4        0   G1-G4
H      H1      H2      H3      H4        0   H1-H4

In [31]:
copy["Column7"] = copy["Column1"]

In [32]:
copy

  Column1 Column2 Column3 Column4  Column5 Column6 Column7
A      A1      A2      A3      A4        0   A1-A4      A1
B      B1      B2      B3      B4        0   B1-B4      B1
C      C1      C2      C3      C4        0   C1-C4      C1
D      D1      D2      D3      D4        0   D1-D4      D1
E      E1      E2      E3      E4        0   E1-E4      E1
F      F1      F2      F3      F4        0   F1-F4      F1
G      G1      G2      G3      G4        0   G1-G4      G1
H      H1      H2      H3      H4        0   H1-H4      H1

In [33]:
copy["Column7"] = copy["Column1"] + "-" + copy["Column6"]

In [34]:
copy

  Column1 Column2 Column3 Column4  Column5 Column6   Column7
A      A1      A2      A3      A4        0   A1-A4  A1-A1-A4
B      B1      B2      B3      B4        0   B1-B4  B1-B1-B4
C      C1      C2      C3      C4        0   C1-C4  C1-C1-C4
D      D1      D2      D3      D4        0   D1-D4  D1-D1-D4
E      E1      E2      E3      E4        0   E1-E4  E1-E1-E4
F      F1      F2      F3      F4        0   F1-F4  F1-F1-F4
G      G1      G2      G3      G4        0   G1-G4  G1-G1-G4
H      H1      H2      H3      H4        0   H1-H4  H1-H1-H4

In [35]:
copy.loc["I", ["Column3", "Column6"]] = "I"

In [36]:
copy

  Column1 Column2 Column3 Column4  Column5 Column6   Column7
A      A1      A2      A3      A4      0.0   A1-A4  A1-A1-A4
B      B1      B2      B3      B4      0.0   B1-B4  B1-B1-B4
C      C1      C2      C3      C4      0.0   C1-C4  C1-C1-C4
D      D1      D2      D3      D4      0.0   D1-D4  D1-D1-D4
E      E1      E2      E3      E4      0.0   E1-E4  E1-E1-E4
F      F1      F2      F3      F4      0.0   F1-F4  F1-F1-F4
G      G1      G2      G3      G4      0.0   G1-G4  G1-G1-G4
H      H1      H2      H3      H4      0.0   H1-H4  H1-H1-H4
I     NaN     NaN       I     NaN      NaN       I       NaN

In [38]:
copy.loc["J", "new column"] = "HELLO!"

C:\Users\janan\AppData\Local\Temp\ipykernel_3668\1993473373.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'HELLO!' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  copy.loc["J", "new column"] = "HELLO!"

In [39]:
copy

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,New column,new column
A,A1,A2,A3,A4,0.0,A1-A4,A1-A1-A4,NaN,NaN
B,B1,B2,B3,B4,0.0,B1-B4,B1-B1-B4,NaN,NaN
C,C1,C2,C3,C4,0.0,C1-C4,C1-C1-C4,NaN,NaN
D,D1,D2,D3,D4,0.0,D1-D4,D1-D1-D4,NaN,NaN
E,E1,E2,E3,E4,0.0,E1-E4,E1-E1-E4,NaN,NaN
F,F1,F2,F3,F4,0.0,F1-F4,F1-F1-F4,NaN,NaN
G,G1,G2,G3,G4,0.0,G1-G4,G1-G1-G4,NaN,NaN
H,H1,H2,H3,H4,0.0,H1-H4,H1-H1-H4,NaN,NaN
I,NaN,NaN,I,NaN,NaN,I,NaN,NaN,NaN
J,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HELLO!,HELLO!

### Renaming columns and indexes

In [41]:
copy = df.copy()

In [42]:
copy

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [43]:
copy.columns

Index(['Column1', 'Column2', 'Column3', 'Column4'], dtype='object')

In [44]:
list(copy.columns)

['Column1', 'Column2', 'Column3', 'Column4']

In [45]:
copy.columns = ["A", "B", "C", "D"]

In [46]:
copy

    A   B   C   D
A  A1  A2  A3  A4
B  B1  B2  B3  B4
C  C1  C2  C3  C4
D  D1  D2  D3  D4
E  E1  E2  E3  E4
F  F1  F2  F3  F4
G  G1  G2  G3  G4

In [47]:
copy.index

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [48]:
copy.index = [0, 1, 2, 3, 4, 5, 6]

In [49]:
copy

    A   B   C   D
0  A1  A2  A3  A4
1  B1  B2  B3  B4
2  C1  C2  C3  C4
3  D1  D2  D3  D4
4  E1  E2  E3  E4
5  F1  F2  F3  F4
6  G1  G2  G3  G4

In [50]:
copy.rename(columns={"B": "Column B"})

    A Column B   C   D
0  A1       A2  A3  A4
1  B1       B2  B3  B4
2  C1       C2  C3  C4
3  D1       D2  D3  D4
4  E1       E2  E3  E4
5  F1       F2  F3  F4
6  G1       G2  G3  G4

In [51]:
copy

    A   B   C   D
0  A1  A2  A3  A4
1  B1  B2  B3  B4
2  C1  C2  C3  C4
3  D1  D2  D3  D4
4  E1  E2  E3  E4
5  F1  F2  F3  F4
6  G1  G2  G3  G4

In [52]:
copy.rename(columns={"B": "Column B"}, inplace=True)

In [53]:
copy

    A Column B   C   D
0  A1       A2  A3  A4
1  B1       B2  B3  B4
2  C1       C2  C3  C4
3  D1       D2  D3  D4
4  E1       E2  E3  E4
5  F1       F2  F3  F4
6  G1       G2  G3  G4

In [54]:
copy.rename(columns={"B": "Column B", "D": "Jan"}, inplace=True)

In [55]:
copy

    A Column B   C Jan
0  A1       A2  A3  A4
1  B1       B2  B3  B4
2  C1       C2  C3  C4
3  D1       D2  D3  D4
4  E1       E2  E3  E4
5  F1       F2  F3  F4
6  G1       G2  G3  G4

In [58]:
copy.rename(index={4: "Four"}, inplace=True)

In [59]:
copy

       A Column B   C Jan
0     A1       A2  A3  A4
1     B1       B2  B3  B4
2     C1       C2  C3  C4
3     D1       D2  D3  D4
Four  E1       E2  E3  E4
5     F1       F2  F3  F4
6     G1       G2  G3  G4

In [60]:
copy.rename(columns={"A": "Column A"}, index={1: "One"}, inplace=True)

In [61]:
copy

     Column A Column B   C Jan
0          A1       A2  A3  A4
One        B1       B2  B3  B4
2          C1       C2  C3  C4
3          D1       D2  D3  D4
Four       E1       E2  E3  E4
5          F1       F2  F3  F4
6          G1       G2  G3  G4

### Delete rows and columns

In [62]:
copy = df.copy()

In [63]:
copy

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [67]:
copy.drop(index="D", inplace=True)

KeyError: "['D'] not found in axis"

In [68]:
copy.drop(index=["E", "F"])

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
G      G1      G2      G3      G4

In [69]:
copy

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [70]:
copy.drop(index=["E", "F"], columns="Column3")

  Column1 Column2 Column4
A      A1      A2      A4
B      B1      B2      B4
C      C1      C2      C4
G      G1      G2      G4

In [71]:
copy

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [72]:
copy.drop(index=["E", "F"], columns="Column3", inplace=True)

In [73]:
copy

  Column1 Column2 Column4
A      A1      A2      A4
B      B1      B2      B4
C      C1      C2      C4
G      G1      G2      G4