### Missing data
Missing data occurs when values are simply absent or contain NaN (not a number) for any feature (column) in a given dataset. This will cause issues in many machine learning algorithms.

**Missing data can negatively impact:**
- Data visualisation
- Arithmetic computations
- Machine learning algorithms

**Common methods to deal with missing data**
- Remove rows or columns containing missing data
- Impute with mean or median
- Impute with mode (most frequently occurring feature)
- Impute with forward or backward fill
- Interpolate data between two points

*Note: Domain knowledge is often needed to decide how to fill nulls.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [20]:
df = pd.DataFrame(np.random.randn(10, 4), columns=["A", "B", "C", "D"])

In [21]:
df = df[df > 0]

In [22]:
df

          A         B         C         D
0  0.230238  0.459924  1.185044       NaN
1       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN  0.164301
3  0.096313       NaN       NaN  1.925863
4  1.261786  2.420444  0.007489  0.729503
5  0.095576  1.353026  0.463694  1.248931
6       NaN       NaN  0.017988  0.309169
7       NaN       NaN  1.007704  0.649609
8  0.556035  1.073602  1.967679  0.139063
9       NaN  0.582850       NaN       NaN

In [23]:
copy = df.copy()

In [26]:
copy.drop(columns="A", inplace=True)

## dropna
Remove rows (default), or columns, containing null.

**Parameters**
- **how** = "any" (default), or "all"
- **thresh** = set number of (non-missing) values a row must contain in order to *not* drop
- **subset** = only look for NaN in subset of columns (or rows)
- **axis** = "index" (default), or "columns"

copy

In [28]:
copy.isna()

       B      C      D
0  False  False   True
1   True   True   True
2   True   True  False
3   True   True  False
4  False  False  False
5  False  False  False
6   True  False  False
7   True  False  False
8  False  False  False
9  False   True   True

In [29]:
copy.dropna()

          B         C         D
4  2.420444  0.007489  0.729503
5  1.353026  0.463694  1.248931
8  1.073602  1.967679  0.139063

In [30]:
copy

          B         C         D
0  0.459924  1.185044       NaN
1       NaN       NaN       NaN
2       NaN       NaN  0.164301
3       NaN       NaN  1.925863
4  2.420444  0.007489  0.729503
5  1.353026  0.463694  1.248931
6       NaN  0.017988  0.309169
7       NaN  1.007704  0.649609
8  1.073602  1.967679  0.139063
9  0.582850       NaN       NaN

In [33]:
copy.dropna(how="all")

          B         C         D
0  0.459924  1.185044       NaN
2       NaN       NaN  0.164301
3       NaN       NaN  1.925863
4  2.420444  0.007489  0.729503
5  1.353026  0.463694  1.248931
6       NaN  0.017988  0.309169
7       NaN  1.007704  0.649609
8  1.073602  1.967679  0.139063
9  0.582850       NaN       NaN

In [34]:
copy.dropna(thresh=2)

          B         C         D
0  0.459924  1.185044       NaN
4  2.420444  0.007489  0.729503
5  1.353026  0.463694  1.248931
6       NaN  0.017988  0.309169
7       NaN  1.007704  0.649609
8  1.073602  1.967679  0.139063

In [36]:
copy.dropna(subset="B")

          B         C         D
0  0.459924  1.185044       NaN
4  2.420444  0.007489  0.729503
5  1.353026  0.463694  1.248931
8  1.073602  1.967679  0.139063
9  0.582850       NaN       NaN

In [37]:
copy.dropna(subset=["B", "C"])

          B         C         D
0  0.459924  1.185044       NaN
4  2.420444  0.007489  0.729503
5  1.353026  0.463694  1.248931
8  1.073602  1.967679  0.139063

In [38]:
copy.dropna(axis="columns")

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
copy.dropna(axis="columns", thresh=6)

          C         D
0  1.185044       NaN
1       NaN       NaN
2       NaN  0.164301
3       NaN  1.925863
4  0.007489  0.729503
5  0.463694  1.248931
6  0.017988  0.309169
7  1.007704  0.649609
8  1.967679  0.139063
9       NaN       NaN

In [41]:
copy.dropna(axis="columns", subset=2)

          D
0       NaN
1       NaN
2  0.164301
3  1.925863
4  0.729503
5  1.248931
6  0.309169
7  0.649609
8  0.139063
9       NaN

## fillna
Fill missing values

In [42]:
copy = df.copy()

In [43]:
copy.fillna("-")

          A         B         C         D
0  0.230238  0.459924  1.185044         -
1         -         -         -         -
2         -         -         -  0.164301
3  0.096313         -         -  1.925863
4  1.261786  2.420444  0.007489  0.729503
5  0.095576  1.353026  0.463694  1.248931
6         -         -  0.017988  0.309169
7         -         -  1.007704  0.649609
8  0.556035  1.073602  1.967679  0.139063
9         -   0.58285         -         -

In [44]:
copy.fillna(56)

           A          B          C          D
0   0.230238   0.459924   1.185044  56.000000
1  56.000000  56.000000  56.000000  56.000000
2  56.000000  56.000000  56.000000   0.164301
3   0.096313  56.000000  56.000000   1.925863
4   1.261786   2.420444   0.007489   0.729503
5   0.095576   1.353026   0.463694   1.248931
6  56.000000  56.000000   0.017988   0.309169
7  56.000000  56.000000   1.007704   0.649609
8   0.556035   1.073602   1.967679   0.139063
9  56.000000   0.582850  56.000000  56.000000

In [46]:
copy["A"].mean()

0.4479896582664433

In [49]:
copy["A"].fillna(copy["A"].mean())

0    0.230238
1    0.447990
2    0.447990
3    0.096313
4    1.261786
5    0.095576
6    0.447990
7    0.447990
8    0.556035
9    0.447990
Name: A, dtype: float64

In [50]:
copy["A"].fillna(copy["A"].median())

0    0.230238
1    0.230238
2    0.230238
3    0.096313
4    1.261786
5    0.095576
6    0.230238
7    0.230238
8    0.556035
9    0.230238
Name: A, dtype: float64

In [51]:
copy["A"].fillna(copy["A"].median(), inplace=True)

In [52]:
copy

          A         B         C         D
0  0.230238  0.459924  1.185044       NaN
1  0.230238       NaN       NaN       NaN
2  0.230238       NaN       NaN  0.164301
3  0.096313       NaN       NaN  1.925863
4  1.261786  2.420444  0.007489  0.729503
5  0.095576  1.353026  0.463694  1.248931
6  0.230238       NaN  0.017988  0.309169
7  0.230238       NaN  1.007704  0.649609
8  0.556035  1.073602  1.967679  0.139063
9  0.230238  0.582850       NaN       NaN

In [53]:
copy["B"].mode()

0    0.459924
1    0.582850
2    1.073602
3    1.353026
4    2.420444
Name: B, dtype: float64

In [54]:
copy["B"].mode()[0] # mainly for categorical data

0.45992365084662695

In [55]:
copy["B"]

0    0.459924
1         NaN
2         NaN
3         NaN
4    2.420444
5    1.353026
6         NaN
7         NaN
8    1.073602
9    0.582850
Name: B, dtype: float64

In [56]:
copy["B"].ffill()

0    0.459924
1    0.459924
2    0.459924
3    0.459924
4    2.420444
5    1.353026
6    1.353026
7    1.353026
8    1.073602
9    0.582850
Name: B, dtype: float64

In [57]:
copy["B"].ffill(inplace=True)

In [58]:
copy

          A         B         C         D
0  0.230238  0.459924  1.185044       NaN
1  0.230238  0.459924       NaN       NaN
2  0.230238  0.459924       NaN  0.164301
3  0.096313  0.459924       NaN  1.925863
4  1.261786  2.420444  0.007489  0.729503
5  0.095576  1.353026  0.463694  1.248931
6  0.230238  1.353026  0.017988  0.309169
7  0.230238  1.353026  1.007704  0.649609
8  0.556035  1.073602  1.967679  0.139063
9  0.230238  0.582850       NaN       NaN

In [60]:
copy["C"].bfill()

0    1.185044
1    0.007489
2    0.007489
3    0.007489
4    0.007489
5    0.463694
6    0.017988
7    1.007704
8    1.967679
9         NaN
Name: C, dtype: float64

In [61]:
copy["C"].bfill(inplace=True)

In [62]:
copy

          A         B         C         D
0  0.230238  0.459924  1.185044       NaN
1  0.230238  0.459924  0.007489       NaN
2  0.230238  0.459924  0.007489  0.164301
3  0.096313  0.459924  0.007489  1.925863
4  1.261786  2.420444  0.007489  0.729503
5  0.095576  1.353026  0.463694  1.248931
6  0.230238  1.353026  0.017988  0.309169
7  0.230238  1.353026  1.007704  0.649609
8  0.556035  1.073602  1.967679  0.139063
9  0.230238  0.582850       NaN       NaN

In [63]:
copy["D"].interpolate()

0         NaN
1         NaN
2    0.164301
3    1.925863
4    0.729503
5    1.248931
6    0.309169
7    0.649609
8    0.139063
9    0.139063
Name: D, dtype: float64

In [64]:
copy["D"].interpolate(inplace=True)

In [65]:
copy

          A         B         C         D
0  0.230238  0.459924  1.185044       NaN
1  0.230238  0.459924  0.007489       NaN
2  0.230238  0.459924  0.007489  0.164301
3  0.096313  0.459924  0.007489  1.925863
4  1.261786  2.420444  0.007489  0.729503
5  0.095576  1.353026  0.463694  1.248931
6  0.230238  1.353026  0.017988  0.309169
7  0.230238  1.353026  1.007704  0.649609
8  0.556035  1.073602  1.967679  0.139063
9  0.230238  0.582850       NaN  0.139063