### Aggregation
Data aggregation is the process where raw data is gathered and expressed in a summary form for statistical analysis.

For example, raw data can be aggregated over a given time period to provide statistics such as average, minimum, maximum, sum, and count. After the data is aggregated and written to a view or report, you can analyze the aggregated data to gain insights about particular resources or resource groups.

In [2]:
import numpy as np
import pandas as pd

### Built-in aggregation methods in pandas
An aggregation method takes a series of values and returns a single value.

In [3]:
numbers = pd.Series(np.random.randint(low=1, high=100, size=5))

In [4]:
numbers

0    10
1     8
2     1
3    86
4    63
dtype: int32

In [6]:
# Some of pandas aggregation methods are:
print(f"{numbers.min() = }")

numbers.min() = 1

In [7]:
print(f"{numbers.max() = }")

numbers.max() = 86

In [8]:
print(f"{numbers.mean() = }")

numbers.mean() = 33.6

In [9]:
print(f"{numbers.sum() = }")

numbers.sum() = 168

In [10]:
print(f"{numbers.count() = }")

numbers.count() = 5

In [11]:
print(f"{numbers.sum() / numbers.count() = }")

numbers.sum() / numbers.count() = 33.6

In [12]:
print(f"{numbers.median() = }")

numbers.median() = 10.0

In [13]:
print(f"{numbers.mode()[0] = }")

numbers.mode()[0] = 1

In [15]:
print(f"{numbers.size = }")

numbers.size = 5

When run on a dataframe (multiple series) they return a single value for each Series, forming a new Series.

In [17]:
numbers_df = pd.DataFrame(np.random.randint(low=1, high=100, size=[5, 5]))

In [18]:
numbers_df

    0   1   2   3   4
0  14  93   9  80  71
1  26  29  46  31  85
2   7  17  74  22  75
3  98  28   2  98  59
4  56  39  27  66   3

In [19]:
numbers_df.min() # default axis = "index"

0     7
1    17
2     2
3    22
4     3
dtype: int32

In [20]:
numbers_df.min(axis="index")

0     7
1    17
2     2
3    22
4     3
dtype: int32

In [21]:
numbers_df.min(axis="columns")

0     9
1    26
2     7
3     2
4     3
dtype: int32

In [23]:
numbers_df.min(axis="columns").min()

2

In [24]:
numbers_df.min(axis="index").min()

2

In [25]:
numbers_df.median(axis="columns").median()

39.0

In [26]:
numbers_df.median(axis="index").median()

29.0

In [27]:
numbers_df.median(axis="index").min()

26.0

In [28]:
numbers_df.isna()

       0      1      2      3      4
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False  False  False  False  False

In [29]:
# Count null values in each column
numbers_df.isna().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [32]:
numbers_df = pd.DataFrame(np.random.randint(low=1, high=100, size=[5, 5]))
numbers_df.loc[[0,3], [1,4]] = np.nan

In [33]:
numbers_df

    0     1   2   3     4
0  41   NaN  73  94   NaN
1  46  94.0  36  78  37.0
2  17  28.0  67  14  92.0
3  44   NaN  17  44   NaN
4  35   1.0  26  50  83.0

In [34]:
numbers_df.isna().sum()

0    0
1    2
2    0
3    0
4    2
dtype: int64

In [35]:
numbers_df.isna().sum(axis="columns")

0    2
1    0
2    0
3    2
4    0
dtype: int64

## Working with real data

In [36]:
autos = pd.read_json("../Data/autos_json.json")

In [37]:
autos.tail(3)

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
202,std,sedan,3.58,18,8.8,3012,rwd,front,173,ohcv,...,volvo,95.0,six,four,5500.0,21485.0,2.87,-1,109.1,68.9
203,turbo,sedan,3.01,26,23.0,3217,rwd,front,145,ohc,...,volvo,95.0,six,four,4800.0,22470.0,3.40,-1,109.1,68.9
204,turbo,sedan,3.78,19,9.5,3062,rwd,front,141,ohc,...,volvo,95.0,four,four,5400.0,22625.0,3.15,-1,109.1,68.9

In [38]:
autos["price"].mean()

13207.129353233831

In [40]:
autos[["length", "width", "height"]].head(3)

   length  width  height
0   168.8   64.1    48.8
1   168.8   64.1    48.8
2   171.2   65.5    52.4

In [41]:
# Running mean() on multiple columns (DatsFrame) returns a series of means.
autos[["length", "width", "height"]].head(3).mean()

length    169.600000
width      64.566667
height     50.000000
dtype: float64

In [42]:
autos[["length", "width", "height"]].mean()

length    174.049268
width      65.907805
height     53.724878
dtype: float64

In [46]:
autos.query("make=='volvo'")
# or autos[autos["make"] == "volvo"]

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
194,std,sedan,3.78,23,9.5,2912,rwd,front,141,ohc,...,volvo,103.0,four,four,5400.0,12940.0,3.15,-2,104.3,67.2
195,std,wagon,3.78,23,9.5,3034,rwd,front,141,ohc,...,volvo,74.0,four,four,5400.0,13415.0,3.15,-1,104.3,67.2
196,std,sedan,3.78,24,9.5,2935,rwd,front,141,ohc,...,volvo,103.0,four,four,5400.0,15985.0,3.15,-2,104.3,67.2
197,std,wagon,3.78,24,9.5,3042,rwd,front,141,ohc,...,volvo,74.0,four,four,5400.0,16515.0,3.15,-1,104.3,67.2
198,turbo,sedan,3.62,17,7.5,3045,rwd,front,130,ohc,...,volvo,103.0,four,four,5100.0,18420.0,3.15,-2,104.3,67.2
199,turbo,wagon,3.62,17,7.5,3157,rwd,front,130,ohc,...,volvo,74.0,four,four,5100.0,18950.0,3.15,-1,104.3,67.2
200,std,sedan,3.78,23,9.5,2952,rwd,front,141,ohc,...,volvo,95.0,four,four,5400.0,16845.0,3.15,-1,109.1,68.9
201,turbo,sedan,3.78,19,8.7,3049,rwd,front,141,ohc,...,volvo,95.0,four,four,5300.0,19045.0,3.15,-1,109.1,68.8
202,std,sedan,3.58,18,8.8,3012,rwd,front,173,ohcv,...,volvo,95.0,six,four,5500.0,21485.0,2.87,-1,109.1,68.9
203,turbo,sedan,3.01,26,23.0,3217,rwd,front,145,ohc,...,volvo,95.0,six,four,4800.0,22470.0,3.40,-1,109.1,68.9
204,turbo,sedan,3.78,19,9.5,3062,rwd,front,141,ohc,...,volvo,95.0,four,four,5400.0,22625.0,3.15,-1,109.1,68.9

In [44]:
autos.query("make=='volvo'")[["length", "width", "height"]].mean()

length    188.800000
width      67.963636
height     56.236364
dtype: float64

In [45]:
autos.query("make=='toyota'")[["length", "width", "height"]].mean()

length    171.934375
width      65.090625
height     53.721875
dtype: float64

## Multiple aggregation

In [48]:
autos[["length", "width", "height"]].mean()

length    174.049268
width      65.907805
height     53.724878
dtype: float64

In [49]:
autos[["length", "width", "height"]].agg("mean")

length    174.049268
width      65.907805
height     53.724878
dtype: float64

In [50]:
autos[["length", "width", "height"]].agg("max")

length    208.1
width      72.3
height     59.8
dtype: float64

In [51]:
autos[["length", "width", "height"]].agg(["min", "mean", "max"])

          length      width     height
min   141.100000  60.300000  47.800000
mean  174.049268  65.907805  53.724878
max   208.100000  72.300000  59.800000

In [52]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   body-style         205 non-null    object
 2   bore               201 non-null    float64
 3   city-mpg           205 non-null    int64
 4   compression-ratio  205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-size        205 non-null    int64
 9   engine-type        205 non-null    object
 10  fuel-system        205 non-null    object
 11  fuel-type          205 non-null    object
 12  height             205 non-null    float64
 13  highway-mpg        205 non-null    int64
 14  horsepower         203 non-null    float64
 15  length             205 non-null    float64
 16  make               205 non-null    object
 17  normalized-losses  164 non-null    float64
 18  num-of-cylinders   205 non-null    object
 19  num-of-doors       203 non-null    object
 20  peak-rpm           203 non-null    float64
 21  price              201 non-null    float64
 22  stroke             201 non-null    float64
 23  symboling          205 non-null    int64
 24  wheel-base         205 non-null    float64
 25  width              205 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [53]:
[col for col in autos.columns if autos[col].dtype in ["int64", "float64"]]

['bore',
 'city-mpg',
 'compression-ratio',
 'curb-weight',
 'engine-size',
 'height',
 'highway-mpg',
 'horsepower',
 'length',
 'normalized-losses',
 'peak-rpm',
 'price',
 'stroke',
 'symboling',
 'wheel-base',
 'width']

In [54]:
autos[[col for col in autos.columns if autos[col].dtype in ["int64", "float64"]]].agg(["min", "mean", "max"])

,bore,city-mpg,compression-ratio,curb-weight,engine-size,height,highway-mpg,horsepower,length,normalized-losses,peak-rpm,price,stroke,symboling,wheel-base,width
min,2.540000,13.000000,7.000000,1488.000000,61.000000,47.800000,16.00000,48.000000,141.100000,65.0,4150.000000,5118.000000,2.070000,-2.000000,86.600000,60.300000
mean,3.329751,25.219512,10.142537,2555.565854,126.907317,53.724878,30.75122,104.256158,174.049268,122.0,5125.369458,13207.129353,3.255423,0.834146,98.756585,65.907805
max,3.940000,49.000000,23.000000,4066.000000,326.000000,59.800000,54.00000,288.000000,208.100000,256.0,6600.000000,45400.000000,4.170000,3.000000,120.900000,72.300000

In [55]:
autos.describe()

,bore,city-mpg,compression-ratio,curb-weight,engine-size,height,highway-mpg,horsepower,length,normalized-losses,peak-rpm,price,stroke,symboling,wheel-base,width
count,201.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,203.000000,205.000000,164.000000,203.000000,201.000000,201.000000,205.000000,205.000000,205.000000
mean,3.329751,25.219512,10.142537,2555.565854,126.907317,53.724878,30.751220,104.256158,174.049268,122.000000,5125.369458,13207.129353,3.255423,0.834146,98.756585,65.907805
std,0.273539,6.542142,3.972040,520.680204,41.642693,2.443522,6.886443,39.714369,12.337289,35.442168,479.334560,7947.066342,0.316717,1.245307,6.021776,2.145204
min,2.540000,13.000000,7.000000,1488.000000,61.000000,47.800000,16.000000,48.000000,141.100000,65.000000,4150.000000,5118.000000,2.070000,-2.000000,86.600000,60.300000
25%,3.150000,19.000000,8.600000,2145.000000,97.000000,52.000000,25.000000,70.000000,166.300000,94.000000,4800.000000,7775.000000,3.110000,0.000000,94.500000,64.100000
50%,3.310000,24.000000,9.000000,2414.000000,120.000000,54.100000,30.000000,95.000000,173.200000,115.000000,5200.000000,10295.000000,3.290000,1.000000,97.000000,65.500000
75%,3.590000,30.000000,9.400000,2935.000000,141.000000,55.500000,34.000000,116.000000,183.100000,150.000000,5500.000000,16500.000000,3.410000,2.000000,102.400000,66.900000
max,3.940000,49.000000,23.000000,4066.000000,326.000000,59.800000,54.000000,288.000000,208.100000,256.000000,6600.000000,45400.000000,4.170000,3.000000,120.900000,72.300000

### Split-Apply-Combine
- Select a feature to use as key
- Split the dataset into groups for each unique key value
- Apply aggregation to each group
- Combine aggregated data into a new dataset
![image](https://nicholasvadivelu.com/assets/images/posts/groupby/split-apply-combine.svg#center)

In [56]:
autos.query("make=='toyota'")[["length", "width", "height"]].mean()

length    171.934375
width      65.090625
height     53.721875
dtype: float64

### Group by
Use Pandas .groupby() method to select a key and split into groups.

This creates a new DataFrameGroupBy object containing the grouped DataFrames.

In [57]:
makes = autos.groupby("make")

In [58]:
type(makes)

pandas.core.groupby.generic.DataFrameGroupBy

In [59]:
len(makes)

22

In [61]:
autos["make"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [63]:
autos["make"].nunique()

22

In [62]:
autos["make"].value_counts()

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

In [64]:
makes.groups

{'alfa-romero': [0, 1, 2], 'audi': [3, 4, 5, 6, 7, 8, 9], 'bmw': [10, 11, 12, 13, 14, 15, 16, 17], 'chevrolet': [18, 19, 20], 'dodge': [21, 22, 23, 24, 25, 26, 27, 28, 29], 'honda': [30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42], 'isuzu': [43, 44, 45, 46], 'jaguar': [47, 48, 49], 'mazda': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66], 'mercedes-benz': [67, 68, 69, 70, 71, 72, 73, 74], 'mercury': [75], 'mitsubishi': [76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88], 'nissan': [89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106], 'peugot': [107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117], 'plymouth': [118, 119, 120, 121, 122, 123, 124], 'porsche': [125, 126, 127, 128, 129], 'renault': [130, 131], 'saab': [132, 133, 134, 135, 136, 137], 'subaru': [138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149], 'toyota': [150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181], 'volkswagen': [182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193], 'volvo': [194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204]}

In [65]:
makes.groups.keys()

dict_keys(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda', 'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury', 'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault', 'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'])

In [66]:
autos.loc[makes.groups["jaguar"]]

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
47,std,sedan,3.63,15,8.1,4066,rwd,front,258,dohc,...,jaguar,145.0,six,four,4750.0,32250.0,4.17,0,113.0,69.6
48,std,sedan,3.63,15,8.1,4066,rwd,front,258,dohc,...,jaguar,NaN,six,four,4750.0,35550.0,4.17,0,113.0,69.6
49,std,sedan,3.54,13,11.5,3950,rwd,front,326,ohcv,...,jaguar,NaN,twelve,two,5000.0,36000.0,2.76,0,102.0,70.6

In [67]:
makes.get_group("jaguar")

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
47,std,sedan,3.63,15,8.1,4066,rwd,front,258,dohc,...,jaguar,145.0,six,four,4750.0,32250.0,4.17,0,113.0,69.6
48,std,sedan,3.63,15,8.1,4066,rwd,front,258,dohc,...,jaguar,NaN,six,four,4750.0,35550.0,4.17,0,113.0,69.6
49,std,sedan,3.54,13,11.5,3950,rwd,front,326,ohcv,...,jaguar,NaN,twelve,two,5000.0,36000.0,2.76,0,102.0,70.6

### Apply and combine.
It's possible to access a single group as above.

However most of the time we rather apply aggregation functions to each group individually and combine the result into a new dataset.

In [68]:
makes = autos.groupby("make")

In [70]:
makes.count()

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,length,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
make,,,,,,,,,,,,,,,,,,,,,
alfa-romero,3,3,3,3,3,3,3,3,3,3,...,3,0,3,3,3,3,3,3,3,3
audi,7,7,7,7,7,7,7,7,7,7,...,7,4,7,7,7,6,7,7,7,7
bmw,8,8,8,8,8,8,8,8,8,8,...,8,4,8,8,8,8,8,8,8,8
chevrolet,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
dodge,9,9,9,9,9,9,9,9,9,9,...,9,9,9,8,9,9,9,9,9,9
honda,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
isuzu,4,4,4,4,4,4,4,4,4,4,...,4,0,4,4,4,2,4,4,4,4
jaguar,3,3,3,3,3,3,3,3,3,3,...,3,1,3,3,3,3,3,3,3,3
mazda,17,17,13,17,17,17,17,17,17,17,...,17,15,17,16,17,17,13,17,17,17
mercedes-benz,8,8,8,8,8,8,8,8,8,8,...,8,5,8,8,8,8,8,8,8,8
mercury,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1
mitsubishi,13,13,13,13,13,13,13,13,13,13,...,13,10,13,13,13,13,13,13,13,13
nissan,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
peugot,11,11,11,11,11,11,11,11,11,11,...,11,7,11,11,11,11,11,11,11,11
plymouth,7,7,7,7,7,7,7,7,7,7,...,7,6,7,7,7,7,7,7,7,7
porsche,5,5,5,5,5,5,5,5,5,5,...,5,1,5,5,5,4,5,5,5,5
renault,2,2,2,2,2,2,2,2,2,2,...,2,0,2,2,0,2,2,2,2,2
saab,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
subaru,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
toyota,32,32,32,32,32,32,32,32,32,32,...,32,31,32,32,32,32,32,32,32,32
volkswagen,12,12,12,12,12,12,12,12,12,12,...,12,8,12,12,12,12,12,12,12,12
volvo,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11

In [71]:
makes.count().head(3)

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,length,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
make,,,,,,,,,,,,,,,,,,,,,
alfa-romero,3,3,3,3,3,3,3,3,3,3,...,3,0,3,3,3,3,3,3,3,3
audi,7,7,7,7,7,7,7,7,7,7,...,7,4,7,7,7,6,7,7,7,7
bmw,8,8,8,8,8,8,8,8,8,8,...,8,4,8,8,8,8,8,8,8,8

In [73]:
makes[["length", "width", "height"]].mean()

                   length      width     height
make
alfa-romero    169.600000  64.566667  50.000000
audi           183.828571  68.714286  54.428571
bmw            184.500000  66.475000  54.825000
chevrolet      151.933333  62.500000  52.400000
dodge          160.988889  64.166667  51.644444
honda          160.769231  64.384615  53.238462
isuzu          163.775000  63.550000  52.225000
jaguar         196.966667  69.933333  51.133333
mazda          170.805882  65.588235  53.358824
mercedes-benz  195.262500  71.062500  55.725000
mercury        178.400000  68.000000  54.800000
mitsubishi     168.030769  65.253846  50.692308
nissan         170.988889  65.088889  53.633333
peugot         191.136364  68.390909  57.181818
plymouth       164.900000  64.271429  51.971429
porsche        170.260000  67.120000  51.100000
renault        179.150000  66.550000  52.850000
saab           186.600000  66.500000  56.100000
subaru         168.858333  64.950000  53.750000
toyota         171.934375  65.090625  53.721875
volkswagen     172.533333  65.616667  55.183333
volvo          188.800000  67.963636  56.236364

In [75]:
type(makes[["length", "width", "height"]])

pandas.core.groupby.generic.DataFrameGroupBy

In [76]:
makes[["length", "width", "height"]].mean().head(3)

                 length      width     height
make
alfa-romero  169.600000  64.566667  50.000000
audi         183.828571  68.714286  54.428571
bmw          184.500000  66.475000  54.825000

### SeriesGroupBy
Indexing a DataFrameGroupBy object with a single column will return a SeriesGroupBy object.

In [79]:
sgb = makes["price"]

In [80]:
type(sgb)

pandas.core.groupby.generic.SeriesGroupBy

In [81]:
sgb.groups

{'alfa-romero': [0, 1, 2], 'audi': [3, 4, 5, 6, 7, 8, 9], 'bmw': [10, 11, 12, 13, 14, 15, 16, 17], 'chevrolet': [18, 19, 20], 'dodge': [21, 22, 23, 24, 25, 26, 27, 28, 29], 'honda': [30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42], 'isuzu': [43, 44, 45, 46], 'jaguar': [47, 48, 49], 'mazda': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66], 'mercedes-benz': [67, 68, 69, 70, 71, 72, 73, 74], 'mercury': [75], 'mitsubishi': [76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88], 'nissan': [89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106], 'peugot': [107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117], 'plymouth': [118, 119, 120, 121, 122, 123, 124], 'porsche': [125, 126, 127, 128, 129], 'renault': [130, 131], 'saab': [132, 133, 134, 135, 136, 137], 'subaru': [138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149], 'toyota': [150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181], 'volkswagen': [182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193], 'volvo': [194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204]}

In [82]:
sgb.get_group("jaguar")

47    32250.0
48    35550.0
49    36000.0
Name: price, dtype: float64

In [83]:
sgb.mean()

make
alfa-romero      15498.333333
audi             17859.166667
bmw              26118.750000
chevrolet         6007.000000
dodge             7875.444444
honda             8184.692308
isuzu             8916.500000
jaguar           34600.000000
mazda            10652.882353
mercedes-benz    33647.000000
mercury          16503.000000
mitsubishi        9239.769231
nissan           10415.666667
peugot           15489.090909
plymouth          7963.428571
porsche          31400.500000
renault           9595.000000
saab             15223.333333
subaru            8541.250000
toyota            9885.812500
volkswagen       10077.500000
volvo            18063.181818
Name: price, dtype: float64

In [84]:
sgb.mean().head(3)

make
alfa-romero    15498.333333
audi           17859.166667
bmw            26118.750000
Name: price, dtype: float64

In [86]:
autos.groupby("make")["price"].mean().head(3)

make
alfa-romero    15498.333333
audi           17859.166667
bmw            26118.750000
Name: price, dtype: float64

In [87]:
(
    autos
        .groupby("make")["price"]
        .mean()
        .head(3)
)

make
alfa-romero    15498.333333
audi           17859.166667
bmw            26118.750000
Name: price, dtype: float64

In [88]:
autos.groupby("make")[["length", "width", "height"]].mean().head(3)

                 length      width     height
make
alfa-romero  169.600000  64.566667  50.000000
audi         183.828571  68.714286  54.428571
bmw          184.500000  66.475000  54.825000

In [89]:
autos.groupby("make")["price"].mean().head(3)

make
alfa-romero    15498.333333
audi           17859.166667
bmw            26118.750000
Name: price, dtype: float64

### Multiple aggregation on SeriesGroupBy
Uses pandas .agg() method on SeriesGroupBy to do multiple aggregations on a single feature.

In [90]:
sgb = makes["price"]

In [91]:
sgb.min()

make
alfa-romero      13495.0
audi             13950.0
bmw              16430.0
chevrolet         5151.0
dodge             5572.0
honda             5399.0
isuzu             6785.0
jaguar           32250.0
mazda             5195.0
mercedes-benz    25552.0
mercury          16503.0
mitsubishi        5389.0
nissan            5499.0
peugot           11900.0
plymouth          5572.0
porsche          22018.0
renault           9295.0
saab             11850.0
subaru            5118.0
toyota            5348.0
volkswagen        7775.0
volvo            12940.0
Name: price, dtype: float64

In [93]:
sgb.agg(["min", "mean", "max"])

                   min          mean      max
make
alfa-romero    13495.0  15498.333333  16500.0
audi           13950.0  17859.166667  23875.0
bmw            16430.0  26118.750000  41315.0
chevrolet       5151.0   6007.000000   6575.0
dodge           5572.0   7875.444444  12964.0
honda           5399.0   8184.692308  12945.0
isuzu           6785.0   8916.500000  11048.0
jaguar         32250.0  34600.000000  36000.0
mazda           5195.0  10652.882353  18344.0
mercedes-benz  25552.0  33647.000000  45400.0
mercury        16503.0  16503.000000  16503.0
mitsubishi      5389.0   9239.769231  14869.0
nissan          5499.0  10415.666667  19699.0
peugot         11900.0  15489.090909  18150.0
plymouth        5572.0   7963.428571  12764.0
porsche        22018.0  31400.500000  37028.0
renault         9295.0   9595.000000   9895.0
saab           11850.0  15223.333333  18620.0
subaru          5118.0   8541.250000  11694.0
toyota          5348.0   9885.812500  17669.0
volkswagen      7775.0  10077.500000  13845.0
volvo          12940.0  18063.181818  22625.0

In [94]:
autos.groupby("make")["price"].agg(["min", "mean", "max"])

                   min          mean      max
make
alfa-romero    13495.0  15498.333333  16500.0
audi           13950.0  17859.166667  23875.0
bmw            16430.0  26118.750000  41315.0
chevrolet       5151.0   6007.000000   6575.0
dodge           5572.0   7875.444444  12964.0
honda           5399.0   8184.692308  12945.0
isuzu           6785.0   8916.500000  11048.0
jaguar         32250.0  34600.000000  36000.0
mazda           5195.0  10652.882353  18344.0
mercedes-benz  25552.0  33647.000000  45400.0
mercury        16503.0  16503.000000  16503.0
mitsubishi      5389.0   9239.769231  14869.0
nissan          5499.0  10415.666667  19699.0
peugot         11900.0  15489.090909  18150.0
plymouth        5572.0   7963.428571  12764.0
porsche        22018.0  31400.500000  37028.0
renault         9295.0   9595.000000   9895.0
saab           11850.0  15223.333333  18620.0
subaru          5118.0   8541.250000  11694.0
toyota          5348.0   9885.812500  17669.0
volkswagen      7775.0  10077.500000  13845.0
volvo          12940.0  18063.181818  22625.0

In [95]:
autos.groupby("make")["price"].describe()

,count,mean,std,min,25%,50%,75%,max
make,,,,,,,,
alfa-romero,3.0,15498.333333,1734.937559,13495.0,14997.50,16500.0,16500.00,16500.0
audi,6.0,17859.166667,3452.379493,13950.0,15800.00,17580.0,18617.50,23875.0
bmw,8.0,26118.750000,9263.832033,16430.0,19958.75,22835.0,32290.00,41315.0
chevrolet,3.0,6007.000000,754.421633,5151.0,5723.00,6295.0,6435.00,6575.0
dodge,9.0,7875.444444,2213.386044,5572.0,6377.00,7609.0,8558.00,12964.0
honda,13.0,8184.692308,2061.672112,5399.0,6855.00,7295.0,9095.00,12945.0
isuzu,2.0,8916.500000,3014.396208,6785.0,7850.75,8916.5,9982.25,11048.0
jaguar,3.0,34600.000000,2047.559523,32250.0,33900.00,35550.0,35775.00,36000.0
mazda,17.0,10652.882353,3975.682094,5195.0,7395.00,10595.0,11845.00,18344.0
mercedes-benz,8.0,33647.000000,6789.560306,25552.0,28230.00,32892.0,36532.00,45400.0
mercury,1.0,16503.000000,NaN,16503.0,16503.00,16503.0,16503.00,16503.0
mitsubishi,13.0,9239.769231,3042.998690,5389.0,6989.00,8499.0,9959.00,14869.0
nissan,18.0,10415.666667,4477.394200,5499.0,7311.50,8124.0,13499.00,19699.0
peugot,11.0,15489.090909,2246.749673,11900.0,13530.00,16630.0,16987.50,18150.0
plymouth,7.0,7963.428571,2395.544257,5572.0,6460.50,7609.0,8439.00,12764.0
porsche,4.0,31400.500000,6528.784343,22018.0,29900.50,33278.0,34778.00,37028.0
renault,2.0,9595.000000,424.264069,9295.0,9445.00,9595.0,9745.00,9895.0
saab,6.0,15223.333333,2860.794761,11850.0,12887.50,15275.0,17490.00,18620.0
subaru,12.0,8541.250000,1940.191468,5118.0,7378.75,7894.0,10019.50,11694.0
toyota,32.0,9885.812500,3204.982114,5348.0,7870.50,9103.0,10973.25,17669.0
volkswagen,12.0,10077.500000,2178.549872,7775.0,8145.00,9737.5,11768.75,13845.0
volvo,11.0,18063.181818,3314.650263,12940.0,16250.00,18420.0,20265.00,22625.0

In [96]:
autos.groupby("make")["price"].describe().transpose()

make,alfa-romero,audi,bmw,chevrolet,dodge,honda,isuzu,jaguar,mazda,mercedes-benz,...,nissan,peugot,plymouth,porsche,renault,saab,subaru,toyota,volkswagen,volvo
count,3.000000,6.000000,8.000000,3.000000,9.000000,13.000000,2.000000,3.000000,17.000000,8.000000,...,18.000000,11.000000,7.000000,4.000000,2.000000,6.000000,12.000000,32.000000,12.000000,11.000000
mean,15498.333333,17859.166667,26118.750000,6007.000000,7875.444444,8184.692308,8916.500000,34600.000000,10652.882353,33647.000000,...,10415.666667,15489.090909,7963.428571,31400.500000,9595.000000,15223.333333,8541.250000,9885.812500,10077.500000,18063.181818
std,1734.937559,3452.379493,9263.832033,754.421633,2213.386044,2061.672112,3014.396208,2047.559523,3975.682094,6789.560306,...,4477.394200,2246.749673,2395.544257,6528.784343,424.264069,2860.794761,1940.191468,3204.982114,2178.549872,3314.650263
min,13495.000000,13950.000000,16430.000000,5151.000000,5572.000000,5399.000000,6785.000000,32250.000000,5195.000000,25552.000000,...,5499.000000,11900.000000,5572.000000,22018.000000,9295.000000,11850.000000,5118.000000,5348.000000,7775.000000,12940.000000
25%,14997.500000,15800.000000,19958.750000,5723.000000,6377.000000,6855.000000,7850.750000,33900.000000,7395.000000,28230.000000,...,7311.500000,13530.000000,6460.500000,29900.500000,9445.000000,12887.500000,7378.750000,7870.500000,8145.000000,16250.000000
50%,16500.000000,17580.000000,22835.000000,6295.000000,7609.000000,7295.000000,8916.500000,35550.000000,10595.000000,32892.000000,...,8124.000000,16630.000000,7609.000000,33278.000000,9595.000000,15275.000000,7894.000000,9103.000000,9737.500000,18420.000000
75%,16500.000000,18617.500000,32290.000000,6435.000000,8558.000000,9095.000000,9982.250000,35775.000000,11845.000000,36532.000000,...,13499.000000,16987.500000,8439.000000,34778.000000,9745.000000,17490.000000,10019.500000,10973.250000,11768.750000,20265.000000
max,16500.000000,23875.000000,41315.000000,6575.000000,12964.000000,12945.000000,11048.000000,36000.000000,18344.000000,45400.000000,...,19699.000000,18150.000000,12764.000000,37028.000000,9895.000000,18620.000000,11694.000000,17669.000000,13845.000000,22625.000000

### Multiple aggregation on DataFrameGroupBy
Using pandas .agg() method on a DataFrameGroupBy to do multipöe aggregations on multiple features will return a multi-index column dataframe.

In [98]:
makes[["length", "width", "height"]].agg(["min", "mean", "max"]).head(3)

            length                    width                  height  \
               min        mean    max   min       mean   max    min
make
alfa-romero  168.8  169.600000  171.2  64.1  64.566667  65.5   48.8
audi         176.6  183.828571  192.7  66.2  68.714286  71.4   52.0
bmw          176.8  184.500000  197.0  64.8  66.475000  70.9   53.7


                  mean   max
make
alfa-romero  50.000000  52.4
audi         54.428571  55.9
bmw          54.825000  56.3

### Custom columns aggregation

In [100]:
autos.groupby("make").agg({"price": "mean", "horsepower": "max"}).head(3)

                    price  horsepower
make
alfa-romero  15498.333333       154.0
audi         17859.166667       160.0
bmw          26118.750000       182.0

In [104]:
autos.groupby("make").agg(
    average_price = pd.NamedAgg(column="price", aggfunc="mean"),
    min_horsepower = pd.NamedAgg(column="horsepower", aggfunc="min"),
    max_horsepower = pd.NamedAgg(column="horsepower", aggfunc="max")
).head(3)

             average_price  min_horsepower  max_horsepower
make
alfa-romero   15498.333333           111.0           154.0
audi          17859.166667           102.0           160.0
bmw           26118.750000           101.0           182.0