### Combining datasets
Pandas provides various facilities for easily combining Series or DataFrames.
- **Concat:** combining DataFrames across rows or columns
- **Join:** combining data on a key column or an index
- **Merge:** combining data on common columns or indexes

In [73]:
from helpers import sample_df, hdisplay, nowrap_display
import pandas as pd

In [2]:
# Sample data
sample_df("A0", "D3")

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [7]:
left = sample_df("A0", "D3", prefix="L_")

In [8]:
right = sample_df("A0", "D3", prefix="R_")

In [9]:
hdisplay([left,right], ["left", "right"])

,A,B,C,D
0,L_A0,L_B0,L_C0,L_D0
1,L_A1,L_B1,L_C1,L_D1
2,L_A2,L_B2,L_C2,L_D2
3,L_A3,L_B3,L_C3,L_D3
,A,B,C,D
0,R_A0,R_B0,R_C0,R_D0
1,R_A1,R_B1,R_C1,R_D1
2,R_A2,R_B2,R_C2,R_D2
3,R_A3,R_B3,R_C3,R_D3

In [10]:
pd.concat([left,right])

      A     B     C     D
0  L_A0  L_B0  L_C0  L_D0
1  L_A1  L_B1  L_C1  L_D1
2  L_A2  L_B2  L_C2  L_D2
3  L_A3  L_B3  L_C3  L_D3
0  R_A0  R_B0  R_C0  R_D0
1  R_A1  R_B1  R_C1  R_D1
2  R_A2  R_B2  R_C2  R_D2
3  R_A3  R_B3  R_C3  R_D3

In [12]:
pd.concat([left,right], axis="index")

      A     B     C     D
0  L_A0  L_B0  L_C0  L_D0
1  L_A1  L_B1  L_C1  L_D1
2  L_A2  L_B2  L_C2  L_D2
3  L_A3  L_B3  L_C3  L_D3
0  R_A0  R_B0  R_C0  R_D0
1  R_A1  R_B1  R_C1  R_D1
2  R_A2  R_B2  R_C2  R_D2
3  R_A3  R_B3  R_C3  R_D3

In [13]:
pd.concat([left,right], axis="columns")

      A     B     C     D     A     B     C     D
0  L_A0  L_B0  L_C0  L_D0  R_A0  R_B0  R_C0  R_D0
1  L_A1  L_B1  L_C1  L_D1  R_A1  R_B1  R_C1  R_D1
2  L_A2  L_B2  L_C2  L_D2  R_A2  R_B2  R_C2  R_D2
3  L_A3  L_B3  L_C3  L_D3  R_A3  R_B3  R_C3  R_D3

In [14]:
hdisplay([
    pd.concat([left,right], axis="index"),
    pd.concat([left,right], axis="columns")],
    ["axis='index'", "axis='columns'"]
)

In [15]:
pd.concat([left, right])

      A     B     C     D
0  L_A0  L_B0  L_C0  L_D0
1  L_A1  L_B1  L_C1  L_D1
2  L_A2  L_B2  L_C2  L_D2
3  L_A3  L_B3  L_C3  L_D3
0  R_A0  R_B0  R_C0  R_D0
1  R_A1  R_B1  R_C1  R_D1
2  R_A2  R_B2  R_C2  R_D2
3  R_A3  R_B3  R_C3  R_D3

In [16]:
pd.concat([left, right]).reset_index()

   index     A     B     C     D
0      0  L_A0  L_B0  L_C0  L_D0
1      1  L_A1  L_B1  L_C1  L_D1
2      2  L_A2  L_B2  L_C2  L_D2
3      3  L_A3  L_B3  L_C3  L_D3
4      0  R_A0  R_B0  R_C0  R_D0
5      1  R_A1  R_B1  R_C1  R_D1
6      2  R_A2  R_B2  R_C2  R_D2
7      3  R_A3  R_B3  R_C3  R_D3

In [17]:
pd.concat([left, right]).reset_index(drop=True)

      A     B     C     D
0  L_A0  L_B0  L_C0  L_D0
1  L_A1  L_B1  L_C1  L_D1
2  L_A2  L_B2  L_C2  L_D2
3  L_A3  L_B3  L_C3  L_D3
4  R_A0  R_B0  R_C0  R_D0
5  R_A1  R_B1  R_C1  R_D1
6  R_A2  R_B2  R_C2  R_D2
7  R_A3  R_B3  R_C3  R_D3

In [18]:
pd.concat([left, right]).set_index("A")

         B     C     D
A
L_A0  L_B0  L_C0  L_D0
L_A1  L_B1  L_C1  L_D1
L_A2  L_B2  L_C2  L_D2
L_A3  L_B3  L_C3  L_D3
R_A0  R_B0  R_C0  R_D0
R_A1  R_B1  R_C1  R_D1
R_A2  R_B2  R_C2  R_D2
R_A3  R_B3  R_C3  R_D3

In [19]:
pd.concat([left, right], ignore_index=True)

      A     B     C     D
0  L_A0  L_B0  L_C0  L_D0
1  L_A1  L_B1  L_C1  L_D1
2  L_A2  L_B2  L_C2  L_D2
3  L_A3  L_B3  L_C3  L_D3
4  R_A0  R_B0  R_C0  R_D0
5  R_A1  R_B1  R_C1  R_D1
6  R_A2  R_B2  R_C2  R_D2
7  R_A3  R_B3  R_C3  R_D3

In [20]:
pd.concat([left, right], axis="columns", ignore_index=True)

      0     1     2     3     4     5     6     7
0  L_A0  L_B0  L_C0  L_D0  R_A0  R_B0  R_C0  R_D0
1  L_A1  L_B1  L_C1  L_D1  R_A1  R_B1  R_C1  R_D1
2  L_A2  L_B2  L_C2  L_D2  R_A2  R_B2  R_C2  R_D2
3  L_A3  L_B3  L_C3  L_D3  R_A3  R_B3  R_C3  R_D3

In [ ]:
hdisplay([
    pd.concat([left, right], ignore_index=False),
    pd.concat([left, right], ignore_index=True),
    pd.concat([left, right], axis="columns", ignore_index=True)],
    ["ignore_index=False", "ignore_index=True",  ]
)

In [21]:
# New sample data
left = sample_df("A0", "D3", prefix="L_")
right = sample_df("C2", "F5", prefix="R_")

In [22]:
pd.concat([left,right])

      A     B     C     D     E     F
0  L_A0  L_B0  L_C0  L_D0   NaN   NaN
1  L_A1  L_B1  L_C1  L_D1   NaN   NaN
2  L_A2  L_B2  L_C2  L_D2   NaN   NaN
3  L_A3  L_B3  L_C3  L_D3   NaN   NaN
2   NaN   NaN  R_C2  R_D2  R_E2  R_F2
3   NaN   NaN  R_C3  R_D3  R_E3  R_F3
4   NaN   NaN  R_C4  R_D4  R_E4  R_F4
5   NaN   NaN  R_C5  R_D5  R_E5  R_F5

In [23]:
pd.concat([left,right], axis="columns")

      A     B     C     D     C     D     E     F
0  L_A0  L_B0  L_C0  L_D0   NaN   NaN   NaN   NaN
1  L_A1  L_B1  L_C1  L_D1   NaN   NaN   NaN   NaN
2  L_A2  L_B2  L_C2  L_D2  R_C2  R_D2  R_E2  R_F2
3  L_A3  L_B3  L_C3  L_D3  R_C3  R_D3  R_E3  R_F3
4   NaN   NaN   NaN   NaN  R_C4  R_D4  R_E4  R_F4
5   NaN   NaN   NaN   NaN  R_C5  R_D5  R_E5  R_F5

In [24]:
hdisplay([
    pd.concat([left,right], axis="index"),
    pd.concat([left,right], axis="columns", join="outer"),  # union (default)
    pd.concat([left,right], axis="columns", join="inner")], # intersection
    ["axis='index'", "axis='columns'", "axis='columns'"],
    20
)

In [25]:
pd.concat([left, right])

      A     B     C     D     E     F
0  L_A0  L_B0  L_C0  L_D0   NaN   NaN
1  L_A1  L_B1  L_C1  L_D1   NaN   NaN
2  L_A2  L_B2  L_C2  L_D2   NaN   NaN
3  L_A3  L_B3  L_C3  L_D3   NaN   NaN
2   NaN   NaN  R_C2  R_D2  R_E2  R_F2
3   NaN   NaN  R_C3  R_D3  R_E3  R_F3
4   NaN   NaN  R_C4  R_D4  R_E4  R_F4
5   NaN   NaN  R_C5  R_D5  R_E5  R_F5

In [26]:
pd.concat([left, right], keys=["left", "right"])

            A     B     C     D     E     F
left  0  L_A0  L_B0  L_C0  L_D0   NaN   NaN
      1  L_A1  L_B1  L_C1  L_D1   NaN   NaN
      2  L_A2  L_B2  L_C2  L_D2   NaN   NaN
      3  L_A3  L_B3  L_C3  L_D3   NaN   NaN
right 2   NaN   NaN  R_C2  R_D2  R_E2  R_F2
      3   NaN   NaN  R_C3  R_D3  R_E3  R_F3
      4   NaN   NaN  R_C4  R_D4  R_E4  R_F4
      5   NaN   NaN  R_C5  R_D5  R_E5  R_F5

In [27]:
hdisplay([
    pd.concat([left, right], keys=["left", "right"], axis="index"),
    pd.concat([left, right], keys=["left", "right"], axis="columns")]
)

### Join
Join first aligns the index of two dataframes, and then picks up the remaining columns from the aligned rows in each DataFrame. 
The **how** parameter can be any of the following:
- **left:** get *all* rows from the left table, and join matching rows from the right table. **(default)**
- **right:** get *all* rows from the right table, and join matching rows from the left table.
- **outer:** get *all* rows from both tables, joining all matching rows on both sides. **(union)**
- **inner:** get *only* rows that exist in both tables. **(intersection)**
- **cross:** get every possible combination of rows and columns

In [29]:
# New sample data
left = sample_df("A0", "D3", prefix="L")
right = sample_df("C2", "F5", prefix="R")
hdisplay([left, right], ["Left", "Right"])

,A,B,C,D
0,LA0,LB0,LC0,LD0
1,LA1,LB1,LC1,LD1
2,LA2,LB2,LC2,LD2
3,LA3,LB3,LC3,LD3
,C,D,E,F
2,RC2,RD2,RE2,RF2
3,RC3,RD3,RE3,RF3
4,RC4,RD4,RE4,RF4
5,RC5,RD5,RE5,RF5

In [30]:
left.join(right)

ValueError: columns overlap but no suffix specified: Index(['C', 'D'], dtype='object')

In [32]:
left.join(right, lsuffix="_L")

     A    B  C_L  D_L    C    D    E    F
0  LA0  LB0  LC0  LD0  NaN  NaN  NaN  NaN
1  LA1  LB1  LC1  LD1  NaN  NaN  NaN  NaN
2  LA2  LB2  LC2  LD2  RC2  RD2  RE2  RF2
3  LA3  LB3  LC3  LD3  RC3  RD3  RE3  RF3

In [33]:
# New sample data
left = sample_df("A0", "D3", prefix="L").add_prefix("L")
right = sample_df("C2", "F5", prefix="R").add_prefix("R")
hdisplay([left, right], ["Left", "Right"])

,LA,LB,LC,LD
0,LA0,LB0,LC0,LD0
1,LA1,LB1,LC1,LD1
2,LA2,LB2,LC2,LD2
3,LA3,LB3,LC3,LD3
,RC,RD,RE,RF
2,RC2,RD2,RE2,RF2
3,RC3,RD3,RE3,RF3
4,RC4,RD4,RE4,RF4
5,RC5,RD5,RE5,RF5

In [34]:
left.join(right)

    LA   LB   LC   LD   RC   RD   RE   RF
0  LA0  LB0  LC0  LD0  NaN  NaN  NaN  NaN
1  LA1  LB1  LC1  LD1  NaN  NaN  NaN  NaN
2  LA2  LB2  LC2  LD2  RC2  RD2  RE2  RF2
3  LA3  LB3  LC3  LD3  RC3  RD3  RE3  RF3

In [35]:
left.join(right, how="left")

    LA   LB   LC   LD   RC   RD   RE   RF
0  LA0  LB0  LC0  LD0  NaN  NaN  NaN  NaN
1  LA1  LB1  LC1  LD1  NaN  NaN  NaN  NaN
2  LA2  LB2  LC2  LD2  RC2  RD2  RE2  RF2
3  LA3  LB3  LC3  LD3  RC3  RD3  RE3  RF3

In [36]:
left.join(right, how="right")

    LA   LB   LC   LD   RC   RD   RE   RF
2  LA2  LB2  LC2  LD2  RC2  RD2  RE2  RF2
3  LA3  LB3  LC3  LD3  RC3  RD3  RE3  RF3
4  NaN  NaN  NaN  NaN  RC4  RD4  RE4  RF4
5  NaN  NaN  NaN  NaN  RC5  RD5  RE5  RF5

In [38]:
hdisplay([
    left.join(right, how="left"),
    left.join(right, how="right")],
    ["how='left", "how='right'"]
)

,LA,LB,LC,LD,RC,RD,RE,RF
0,LA0,LB0,LC0,LD0,nan,nan,nan,nan
1,LA1,LB1,LC1,LD1,nan,nan,nan,nan
2,LA2,LB2,LC2,LD2,RC2,RD2,RE2,RF2
3,LA3,LB3,LC3,LD3,RC3,RD3,RE3,RF3
,LA,LB,LC,LD,RC,RD,RE,RF
2,LA2,LB2,LC2,LD2,RC2,RD2,RE2,RF2
3,LA3,LB3,LC3,LD3,RC3,RD3,RE3,RF3
4,nan,nan,nan,nan,RC4,RD4,RE4,RF4
5,nan,nan,nan,nan,RC5,RD5,RE5,RF5

In [40]:
hdisplay([
    left.join(right, how="inner"),
    left.join(right, how="outer")],
    ["how='inner'", "how='outer'"]
)

,LA,LB,LC,LD,RC,RD,RE,RF
2,LA2,LB2,LC2,LD2,RC2,RD2,RE2,RF2
3,LA3,LB3,LC3,LD3,RC3,RD3,RE3,RF3
,LA,LB,LC,LD,RC,RD,RE,RF
0,LA0,LB0,LC0,LD0,nan,nan,nan,nan
1,LA1,LB1,LC1,LD1,nan,nan,nan,nan
2,LA2,LB2,LC2,LD2,RC2,RD2,RE2,RF2
3,LA3,LB3,LC3,LD3,RC3,RD3,RE3,RF3
4,nan,nan,nan,nan,RC4,RD4,RE4,RF4
5,nan,nan,nan,nan,RC5,RD5,RE5,RF5

In [41]:
left.join(right, how="cross")

     LA   LB   LC   LD   RC   RD   RE   RF
0   LA0  LB0  LC0  LD0  RC2  RD2  RE2  RF2
1   LA0  LB0  LC0  LD0  RC3  RD3  RE3  RF3
2   LA0  LB0  LC0  LD0  RC4  RD4  RE4  RF4
3   LA0  LB0  LC0  LD0  RC5  RD5  RE5  RF5
4   LA1  LB1  LC1  LD1  RC2  RD2  RE2  RF2
5   LA1  LB1  LC1  LD1  RC3  RD3  RE3  RF3
6   LA1  LB1  LC1  LD1  RC4  RD4  RE4  RF4
7   LA1  LB1  LC1  LD1  RC5  RD5  RE5  RF5
8   LA2  LB2  LC2  LD2  RC2  RD2  RE2  RF2
9   LA2  LB2  LC2  LD2  RC3  RD3  RE3  RF3
10  LA2  LB2  LC2  LD2  RC4  RD4  RE4  RF4
11  LA2  LB2  LC2  LD2  RC5  RD5  RE5  RF5
12  LA3  LB3  LC3  LD3  RC2  RD2  RE2  RF2
13  LA3  LB3  LC3  LD3  RC3  RD3  RE3  RF3
14  LA3  LB3  LC3  LD3  RC4  RD4  RE4  RF4
15  LA3  LB3  LC3  LD3  RC5  RD5  RE5  RF5

### Merge
Pandas .merge() method is similar to .join(), but is more versatile,
and allows us to specify columns beside the index to join for both DataFrames.
Note: *how* parameter works the same as for join(), but the default for merge() is "inner", not "left".

In [52]:
# new sample data
left = sample_df("A0", "E3")
left.loc[:,"F"] = ["F10", "F11", "F12", "F13"]
right = sample_df("F10", "J13")
hdisplay([left, right], ["Left", "Right"])

In [53]:
left.merge(right)

    A   B   C   D   E    F    G    H    I    J
0  A0  B0  C0  D0  E0  F10  G10  H10  I10  J10
1  A1  B1  C1  D1  E1  F11  G11  H11  I11  J11
2  A2  B2  C2  D2  E2  F12  G12  H12  I12  J12
3  A3  B3  C3  D3  E3  F13  G13  H13  I13  J13

In [54]:
# new sample data
left = sample_df("A0", "E3").add_prefix("L")
left.loc[:,"LF"] = ["F10", "F11", "F12", "F13"]
right = sample_df("F10", "J13").add_prefix("R")
hdisplay([left, right], ["Left", "Right"])

In [55]:
left.merge(right, how="inner", left_on="LF", right_on="RF")

   LA  LB  LC  LD  LE   LF   RF   RG   RH   RI   RJ
0  A0  B0  C0  D0  E0  F10  F10  G10  H10  I10  J10
1  A1  B1  C1  D1  E1  F11  F11  G11  H11  I11  J11
2  A2  B2  C2  D2  E2  F12  F12  G12  H12  I12  J12
3  A3  B3  C3  D3  E3  F13  F13  G13  H13  I13  J13

In [56]:
# new sample data
left = sample_df("A0", "E3").add_prefix("L")
left.loc[:,"LF"] = ["F8", "F9", "F10", "F11"]
right = sample_df("F10", "J13").add_prefix("R")
hdisplay([left, right], ["Left", "Right"])

In [57]:
left.merge(right, how="outer", left_on="LF", right_on="RF")

    LA   LB   LC   LD   LE   LF   RF   RG   RH   RI   RJ
0   A0   B0   C0   D0   E0   F8  NaN  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1   E1   F9  NaN  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2   E2  F10  F10  G10  H10  I10  J10
3   A3   B3   C3   D3   E3  F11  F11  G11  H11  I11  J11
4  NaN  NaN  NaN  NaN  NaN  NaN  F12  G12  H12  I12  J12
5  NaN  NaN  NaN  NaN  NaN  NaN  F13  G13  H13  I13  J13

### Working with real data

In [67]:
employees = pd.read_json("../data/employees.json")
departments = pd.read_json("../data/departments.json")
display(employees)
display(departments)

  first_name last_name              job_title  salary       department
0       John       Doe         Sales Director  120000            Sales
1       Jane     Smith         HR Coordinator   60000  Human Resources
2    Michael   Johnson      Software Engineer  110000               IT
3      Sarah  Williams   Marketing Specialist   75000            Sales
4      David     Brown             HR Manager   90000  Human Resources
5      Emily     Davis  IT Support Specialist   55000               IT
6      Jacob    Wilson   Sales Representative   80000            Sales
7     Olivia     Moore      Marketing Manager  100000            Sales
8      Ethan       Lee      Financial Analyst   85000            Sales
9     Sophia    Taylor           HR Assistant   50000  Human Resources

   department_name  department_head       location  office_number   budget
0            Sales   Sarah Williams       New York            101  1000000
1  Human Resources      David Brown        Chicago            202   800000
2               IT  Michael Johnson  San Francisco            303  1200000

In [68]:
new_df = employees.merge(departments, left_on="department", right_on="department_name")

In [70]:
new_df

,first_name,last_name,job_title,salary,department,department_name,department_head,location,office_number,budget
0,John,Doe,Sales Director,120000,Sales,Sales,Sarah Williams,New York,101,1000000
1,Sarah,Williams,Marketing Specialist,75000,Sales,Sales,Sarah Williams,New York,101,1000000
2,Jacob,Wilson,Sales Representative,80000,Sales,Sales,Sarah Williams,New York,101,1000000
3,Olivia,Moore,Marketing Manager,100000,Sales,Sales,Sarah Williams,New York,101,1000000
4,Ethan,Lee,Financial Analyst,85000,Sales,Sales,Sarah Williams,New York,101,1000000
5,Jane,Smith,HR Coordinator,60000,Human Resources,Human Resources,David Brown,Chicago,202,800000
6,David,Brown,HR Manager,90000,Human Resources,Human Resources,David Brown,Chicago,202,800000
7,Sophia,Taylor,HR Assistant,50000,Human Resources,Human Resources,David Brown,Chicago,202,800000
8,Michael,Johnson,Software Engineer,110000,IT,IT,Michael Johnson,San Francisco,303,1200000
9,Emily,Davis,IT Support Specialist,55000,IT,IT,Michael Johnson,San Francisco,303,1200000

In [71]:
users = pd.read_json("../data/users.json")

In [76]:
users

,username,password,email,phone,host
0,johdoe,7e684c07e48bf68c0181306c2dab1a0e2b8298e9a59a37...,john.doe@mockcompany.com,(212) 591-7254,192.168.1.1
1,jansmi,a6ab128c25d59951f9eb29a0b63806a0a2df924a384f61...,jane.smith@mockcompany.com,(312) 623-3364,192.168.1.2
2,micjoh,9f01f5cfa05a6b14367d4d0e6c788c5977f094ad4e2381...,michael.johnson@mockcompany.com,(415) 602-6872,192.168.1.3
3,sarwil,fdb1e5c757d39e5f27065f12f27fbc94d50f47a66e8cdd...,sarah.williams@mockcompany.com,(212) 623-6568,192.168.1.1
4,davbro,1d99b7d777fb1b04ac1bea3d4b04a4ea5f654f9b304da4...,david.brown@mockcompany.com,(312) 709-8933,192.168.1.2
5,emidav,1953b5a2e8cc313b6db9f1708e9d0b84a84c6b3a60706e...,emily.davis@mockcompany.com,(415) 775-6149,192.168.1.3
6,jacwil,8d5ee4f5e3a5e9202a2f21d3b7c30a10c9c51d0133a731...,jacob.wilson@mockcompany.com,(212) 285-2027,192.168.1.1
7,olimoo,79cfd142536a5d27528d3306ef28e26d038c625764167b...,olivia.moore@mockcompany.com,(212) 335-5297,192.168.1.1
8,ethlee,5f51c17c9b81d68a1c9b99f1a8627a457bd0a4048d594c...,ethan.lee@mockcompany.com,(212) 509-8922,192.168.1.1
9,soptay,a429b013ebfb9f86a3cb8cf2311e2bfa3b00b238d439eb...,sophia.taylor@mockcompany.com,(312) 826-6711,192.168.1.2